extends ./layouts/main.pug

block content
  section#promo
    .container
      .promo
        .promo__information
          h1.promo__title Get the most   fun weather app

          p.promo__desc Simple, nice and user-friendly application of the 
          p.promo__desc weather. Only useful information 
          
          .promo__action.btn-group
            button.btn.btn--secondary(type="button") Download
            button.btn(type="button") Features
        .promo__image
          button.btn.btn--top-right.btn--circle.btn--white.btn--sm(type='button') 9°
          button.btn.btn--middle-left.btn--circle.btn--secondary(type='button') SUNNY
          button.btn.btn--middle-right.btn--circle(type='button') LONDON
          button.btn.btn--bottom-right.btn--circle.btn--yellow.btn--sm(type='button') RIO
          button.btn.btn--bottom-left.btn--circle.btn--white.btn--sm(type='button') #
          img(src="assets/img/icons/phone.png", alt="promo-img")     
  section.section
    .container
      .section__header
        h2.title PERFECT FEATURES
        p.sm-text Only recassery
      .block
        .card
          .card__icon
            img(src='assets/img/icons/icon.png')
          .card__info
            h3.card__title Usability
            p.card__desc Simetimes the simplest things are
            p.card__desc the hardest to find. So we created a 
            p.card__desc line for everyday life
        .card
          .card__icon
            img(src='assets/img/icons/parallax.png')
          .card__info
            h3.card__title Parallax Effect
            p.card__desc Simetimes the simplest things are
            p.card__desc the hardest to find. So we created a 
            p.card__desc line for everyday life   
        .card
          .card__icon
            img(src='assets/img/icons/unlimites.png')
          .card__info
            h3.card__title Unlimites Colors
            p.card__desc Simetimes the simplest things are
            p.card__desc the hardest to find. So we created a 
            p.card__desc line for everyday life
      
  section.section
    .container
      .section__header
        h2.title SIMPLE WIDGETS
        p.sm-text Drag and Drop
      .carousel
          .carousel__content
            .carousel__item.carousel__item--left
              img.carousel__img(src='assets/img/icons/left.png')
            .carousel__item.carousel__item--front
              img.carousel__img(src='assets/img/icons/center.png')
            .carousel__item.carousel__item--right
              img.carousel__img(src='assets/img/icons/right.png')
          .carousel__content
            .carousel__item.carousel__item--left
              img.carousel__img(src='assets/img/icons/left.png')
            .carousel__item.carousel__item--front
              img.carousel__img(src='assets/img/icons/center.png')
            .carousel__item.carousel__item--right
              img.carousel__img(src='assets/img/icons/right.png')
            .carousel__nav(data-carousel="slider1")
          .carousel__content
            .carousel__item.carousel__item--left
              img.carousel__img(src='assets/img/icons/left.png')
            .carousel__item.carousel__item--front
              img.carousel__img(src='assets/img/icons/center.png')
            .carousel__item.carousel__item--right
              img.carousel__img(src='assets/img/icons/right.png')
          .carousel__content
            .carousel__item.carousel__item--left
              img.carousel__img(src='assets/img/icons/left.png')
            .carousel__item.carousel__item--front
              img.carousel__img(src='assets/img/icons/center.png')
            .carousel__item.carousel__item--right
              img.carousel__img(src='assets/img/icons/right.png')
  section.section
    .container
      .section__header
        h2.title SCREENSHOTS
        p.sm-text The brightest images
      .info-graphic
        .info-graphic__graphic
          img(src="assets/img/icons/phone1.png", alt="iphone")
        .info-graphic__info
          img(src="assets/img/icons/icon1.png", alt="", ).info-graphic__icon
          h3.title.info-graphic__title When the clouds
          p.info-graphic__desc Variable information on the air humidity, the #[br] feeling of the weather, and the ability to #[br] share this with your friends
          img(src="assets/img/icons/icons1.png", alt="", ).info-graphic__icon
      .info-graphic.info-graphic--right
        .info-graphic__info
          img(src="assets/img/icons/icon2.png", alt="", ).info-graphic__icon
          h3.title.info-graphic__title WHEN THE SUN
          p.info-graphic__desc Sometimes the simplest things are the #[br] hardest to find. So we created a new line  #[br] for everyday life. Sometimes the simplest
          img(src="assets/img/icons/icons1.png", alt="", ).info-graphic__icon
        .info-graphic__graphic
          img(src="assets/img/icons/sunny.png", alt="iphone")
      .info-graphic
        .info-graphic__graphic
          img(src="assets/img/icons/phone2.png", alt="iphone")
        .info-graphic__info
          img(src="assets/img/icons/icon3.png", alt="", ).info-graphic__icon
          h3.title.info-graphic__title WHEN THE RAIN
          p.info-graphic__desc Variable information on the air humidity, the #[br] feeling of the weather, and the ability to #[br] share this with your friends
          img(src="assets/img/icons/icons1.png", alt="", ).info-graphic__icon
  section.section
    .container
      .section__header
        h2.title WHAT PEOPLE ARE SAYING
        p.sm-text Rewiews

      .block
        .explanation-text
          .explanation-text__text
            p.desc.explanation-text__desc What art offers is space -a certain breathing room #[br] for the spirit.
            p.desc.explanation-text__desc1 John Updike

        .explanation-text
          .explanation-text__text
            p.desc.explanation-text__desc What art offers is space -a certain breathing room #[br] for the spirit.
            p.desc.explanation-text__desc1 John Updik

      .block
        .explanation-text
          .explanation-text__text
            p.desc.explanation-text__desc What art offers is space -a certain breathing room #[br] for the spirit.
            p.desc.explanation-text__desc1 John Updike

        .explanation-text
          .explanation-text__text
            p.desc.explanation-text__desc What art offers is space -a certain breathing room #[br] for the spirit.
            p.desc.explanation-text__desc1 John Updik
  section#last
    .container
      .last
        .last__information
          h1.last__title HOW DOWNLOAD THE APP?
          p.last__desc Just download the app from the store. #[br] Simple, nice and user-friendly application of #[br] theweather. Only relevant and useful #[br] information.
          img(src="assets/img/icons/appstore.png", alt="", ).last__graphic-icon  
          img(src="assets/img/icons/googleplay.png", alt="", ).last__graphic-icon