footer.footer
    .container
        .footer__content
            img.social_link(src='assets/img/icons/funweather1.png')
            ul.menu
                    li.menu__item
                        a(href="#").menu__link.menu__link--secandry Home
                        ul.menu
                            
                    li.menu__item
                        a(href="#").menu__link Features
                    li.menu__item
                        a(href="#").menu__link Reviews
                    li.menu__item
                        a(href="#").menu__link Download
            nav.social
                img.social_link(src='assets/img/icons/facebook1.png')
                img.social_link(src='assets/img/icons/instagram1.png')
                img.social_link(src='assets/img/icons/twitter1.png')
    .container
        .footer__copyright
            span.copyright 2016 All rights reserved. Weather App Theme by Gravpix
            

                  
             
