header.header
    .container
        .header__content
            img.social_link(src='assets/img/icons/funweather.png')
            nav.nav
                ul.menu
                    li.menu__item
                        a(href="#").menu__link.menu__link--secandry Home
                        ul.menu
                            li.menu__item
                                a(href="https://www.google.com.tr/").menu__link Home1
                                a(href="#").menu__link Home2
                            li.menu__item
                                a(href="#").menu__link Home3
                    li.menu__item
                        a(href="#").menu__link Features
                    li.menu__item
                        a(href="#").menu__link Reviews
                    li.menu__item
                        a(href="#").menu__link Download
 
            nav.social
                img.social_link(src='assets/img/icons/facebook.png')
                img.social_link(src='assets/img/icons/instagram.png')
                img.social_link(src='assets/img/icons/twitter.png')