.icon--arrow-down-dims {
	width: 16px;
	height: 16px;
}

.icon--arrow-left-dims {
	width: 16px;
	height: 16px;
}

.icon--arrow-right-dims {
	width: 16px;
	height: 16px;
}

.icon--arrow-up-dims {
	width: 16px;
	height: 16px;
}

.icon--facebook-dims {
	width: 16px;
	height: 16px;
}

.icon--github-dims {
	width: 16px;
	height: 16px;
}

.icon--heart-dims {
	width: 16px;
	height: 16px;
}

.icon--image-dims {
	width: 16px;
	height: 16px;
}

.icon--instagram-dims {
	width: 16px;
	height: 16px;
}

.icon--linkedin-dims {
	width: 16px;
	height: 16px;
}

.icon--phone-dims {
	width: 16px;
	height: 16px;
}

.icon--telegram-dims {
	width: 16px;
	height: 16px;
}

.icon--twitter-dims {
	width: 16px;
	height: 16px;
}

.icon--user-dims {
	width: 16px;
	height: 16px;
}

.icon--whatsapp-dims {
	width: 16px;
	height: 16px;
}

.icon--youtube-dims {
	width: 16px;
	height: 16px;
}

