.header {
  background-color: #648cff;

  @media only screen and (max-width: 768px) {
      padding-top: 50px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
  }
  //  @media screen and(max-width:700px) {
  //     &__content{
  //         width: 700px;
  //     }
  //  }
  //  @media screen and(max-width:400px) {
  //     &__content{

  //     }
  //  }
}
