/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.carousel {
     position: relative;
     display: block;

     &__arrow {
          display: flex;
     }

     &__img {
          width: 395px;
          height: 641px;
     }

     &__content {
          position: relative;
          float: left;
     }

     &__item {
          width: 370px;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -185px;
          z-index: 1;

          &--left {
               transform: scale(.9) translateX(-200px);
          }

          &--front {
               position: relative;
               z-index: 2;
          }

          &--right {
               transform: scale(.9) translateX(200px);
          }
     }

     &__btn {
          position: absolute;
          top: 50%;
          z-index: 2;
          margin-top: -67px;
          background-color: transparent;
          border: none;

          &--left {
               left: 0;
          }

          &--right {
               right: 0;
          }

          &:focus {
               outline: none;
          }
     }
}