.info-graphic {
    display: flex;
    align-items: center;
    max-width: 1025px;
    padding: 90px 0;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__desc {
        line-height: 25px;
    }

    img {
        max-width: 100%;
    }

    &__graphic {
        margin-right: 90px;
    }

    &--right {
        .info-graphic__graphic {
            margin-right: 0;
            margin-left: 90px;
        }
    }
}