.last {
  background-color: #648cff;
  background-image: url('../img/icons/three.png');
  background-repeat: no-repeat;
  background-position: right 110px;
  background-size: 50%;
  padding: 100px 0px;
  color: #fff;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 768px) {
      flex-direction: column;
  }

  &__title {
    padding-bottom: 50px;
    font-family: Ubuntu;
  }

  &__desc {
    font-size: 18px;
    font-family: Ubuntu;
  }

  &__informations {
    float: left;
    overflow: hidden;
  }

  &__graphic-icon1 {
    max-width: 100%;
  }

  &__graphic-icon {
    &:last-child {
      margin-left: 10px;
      margin-top: 33px;
    }
  }
}
